<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learncha | 3D GAME</title>
  </head>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    iframe {
      width: 99vw;
      height: 99vh;
    }
  </style>
  <body>
    <iframe
      src="https://goeroeg.github.io/ld-learn/apps/learn/ld-learn.html"
      frameborder="0"
    ></iframe>
  </body>
</html>
