<footer id="footer">
    <div class="footer-holder">
        <div class="footer-frame">
            <div class="footer-content">
                <div class="col-holder">
                    <div class="col_wrap">
                        <div class="col">
                            <h3>Our address</h3>
                            <address class="map">60 Ahmadu Bello Way, Nassarawa GRA Kano State Nigeria.

                            </address>
                            <address class="mail"><a href="mailto:Admin@stemlab.com.ng">Admin@stemlab.com.ng</a></address>
                            <address class="phone">+2348162224407
                            </address>
                        </div>
                    </div>
                    <div class="col_wrap">
                        <div class="col">
                            <h3>Follow us</h3>
                            <p class="social">Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium</p>
                            <ul class="social">
                                <li><a class="facebook" href="#">Facebook</a></li>
                                <li><a class="google" href="#">Google+</a></li>
                                <li><a class="twitter" href="#">Twitter</a></li>
                                <li><a class="pinterest" href="#">Pinterest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col_wrap">
                        <div class="col">
                            <h3>Newsletter</h3>
                            <p class="form-newsletter">Voluptas sit aspernatur consequuntur.</p>
                            <form action="#" class="form-newsletter">
                                <fieldset>
                                    <input type="email" placeholder="Your email..." />
                                    <input class="btn white" type="submit" value="Subscribe" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="holder">
                    <p>Copyright 2022 Learncha. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>