{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
  <!--<![endif]-->
  <body>
    <div id="wrapper" class="games-page">
      <div class="wrapper-holder">
     
        <section class="promo flex justify-center">
          <div class="slider-wrap max-w-5xl">
            <ul class="slider flex flex-col space-y-10">
         
              <li
                class="flex md:space-x-4 md:space-x-8 justify-between flex-col md:flex-row"
              >
                <img
                  class="slide rounded-lg"
                  src="https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                  alt=""
                />
                <!-- <img class="slide-mask" src="https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
                <div class="">
                  <h1>Four Pictures One Word</h1>
                  <p class="mb-4">
                 Play This Game to Identify a common relation or pattern between
                 several images and come up with a suitable name. who doesn't love 
                 fun
                  </p>
                  <a class="btn red" href="{%  url 'dictionary:d_game3' %}">Play</a>
                </div>
              </li>
         
              <li
                class="flex md:space-x-4 md:space-x-8 justify-between flex-col md:flex-row"
              >
                <img
                  class="slide rounded-lg"
                  src="https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                  alt=""
                />
                <!-- <img class="slide-mask" src="https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
                <div class="">
                  <h1>3D MATH GAME</h1>
                  <p class="mb-4">
                  An Immersive Video Game to Learn Math And At the 
                  Same Time Build A Complete  City
                  </p>
                  <a class="btn red" href="{%  url 'dictionary:d_game' %}">Play</a>
                </div>
               
              </li>
              <li
                class="flex md:space-x-4 md:space-x-8 justify-between flex-col md:flex-row"
              >
                <img
                  class="slide rounded-lg"
                  src="https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                  alt=""
                />
                <!-- <img class="slide-mask" src="https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
                <div class="">
                  <h1>Photo Choose</h1>
                  <p class="mb-4">
                 Choose two Photos That Match From An Entire Streams Of Falled Photos
                  And Earn Points While Learning About Animals, Colors Fruits and Shapes
                  </p>
                  <a class="btn red" href="{%  url 'dictionary:d_game2' %}">Play</a>
                </div>
               
              </li>
            </ul>
          </div>
        </section>
  <br><br><br>
      </div>

    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.placeholder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
{% endblock %}

