<!DOCTYPE html>
{% load static %}
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<title>Kid' school - Home</title>
	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Arvo:400,700' rel='stylesheet' type='text/css'>
	<link href="css/jquery.bxslider.css" rel="stylesheet" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="./dist/output.css">
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper" class="homepage">
		<div class="wrapper-holder">

			<!-- header starts hre... -->
			<header id="header">
				<div class="left-part "></div>
				<a id="logo" href="index.html">Learncha</a>
				<div class="bar-holder">
					<a class="menu_trigger" href="#"></a>
					<nav id="nav">
						<ul class="">
							<li><a href="{% url 'users:about' %}">About us</a></li>
							<li><a href="{% url 'dictionary:games' %}">Games</a></li>
							<li><a href="{% url 'dictionary:search' %}">Dictionary</a></li>
							<li><a href="diy.html">DIY</a></li>
							<li><a href="climate-challenge.html">Climate Challenge</a></li>
							<li><a href="{% url 'books:subject_quiz' 'quiz' %}">Quiz</a></li>
							<li><a href="{% url 'users:contact' %}">Contact</a></li>
						</ul>
					</nav>
				</div>
			</header>
				<!-- header ends here... -->

				<!-- carousel starts here... -->
			<div id="carouselExampleCaptions" class="carousel slide relative" data-bs-ride="carousel">
				<div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
				  <button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="0"
					class="active"
					aria-current="true"
					aria-label="Slide 1"
				  ></button>
				  <button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="1"
					aria-label="Slide 2"
				  ></button>
				  <button
					type="button"
					data-bs-target="#carouselExampleCaptions"
					data-bs-slide-to="2"
					aria-label="Slide 3"
				  ></button>
				</div>
				<div class="carousel-inner relative w-full overflow-hidden">
				  <div class="carousel-item active relative float-left w-full">
					<img
					  src="{% static 'images/caro1.jpg' %}"
					  class="block w-full h-96 object-cover"
					  alt="..."
					/>
					<div class="carousel-caption hidden md:block absolute text-center">
					  <h5 class="text-xl">Gamify the Sysytem Of Learning!</h5>
					  <p>Number One Ultimate Platform That Gamifies Learning </p>
					</div>
				  </div>
				  <div class="carousel-item relative float-left w-full">
					<img
					  src="{% static 'images/caro2.jpg' %}"
					  class="block w-full h-96 object-cover images"
					  alt="..."
					/>
					<div class="carousel-caption hidden md:block absolute text-center">
					  <h5 class="text-xl">Have Fun And Learn</h5>
					  <p>Dont Stop Playing Your Games Just Beacause You Want To Study </p>
					</div>
				  </div>
				  <div class="carousel-item relative float-left w-full">
					<img
					  src="{% static 'images/caro4.jpg' %}"
					  class="block w-full h-96 object-cover images"
					  alt="..."
					/>
					<div class="carousel-caption hidden md:block absolute text-center">
					  <h5 class="text-xl"> </h5>
					  <p>Some representative placeholder content for the third slide.</p>
					</div>
				  </div>
				</div>
				<button
				  class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
				  type="button"
				  data-bs-target="#carouselExampleCaptions"
				  data-bs-slide="prev"
				>
				  <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button
				  class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
				  type="button"
				  data-bs-target="#carouselExampleCaptions"
				  data-bs-slide="next"
				>
				  <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>
			  <!-- carousel ends ..... -->

			  <br>
			  <br>
			  <br>

			  <!-- promo starts here -->
			<section class="promo flex justify-center">
				<div class="slider-wrap max-w-5xl">
					<ul class="slider flex flex-col space-y-10">
						<li class="flex md:space-x-4 md:space-x-8 justify-between flex-col md:flex-row">
							<img class="slide rounded-lg" src="{% static 'images/for_kids.jpg' %}" width="500">
							<!-- <img class="slide-mask" src="https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
							
							<div class="">
								<h1><a href="#">Games for kids</a></h1>
								<p class="mb-4">Discover the best educational games for kids online across different subject areas including math, science, art, history and more.Educational games make a great alternative for children who don't learn best through pencil and paper instruction</p>
								<a class="btn red" href="#">Learn more</a>
							</div>
						</li>
						<li class="flex md:space-x-4 md:space-x-8 justify-between flex-col md:flex-row">
							<img class="slide rounded-lg" src="https://images.unsplash.com/photo-1565350831386-8c52421af9fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
							<!-- <img class="slide-mask" src="https://images.unsplash.com/photo-1603354350317-6f7aaa5911c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2lkcyUyMGxlYXJuaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt=""> -->
							<div class="">
								<h1><a href="#">Education for kids</a></h1>
								<p class="mb-4">Encouraging your child to spend their screen time playing educational video games for kids not only strengthens their skills in various subjects but can also help transform them into lifelong learners!
								</p>
								<a class="btn red" href="#">Learn more</a>
							</div>
						</li>
					</ul>
				</div>
			</section>
			<!-- promo ends here... -->
 
			<!-- Services starts here... -->
			<div class="services">
			<h2>Our Services</h2>
			<div class="top-blue-border"></div>
			<div class="main flex flex-col items-center" style="background-color: #85d8e5;">


				<div class="card-container my-10 flex flex-col md:flex-row justify-center border-none items-center w-full  md:1/2 max-w-5xl">
				  <div class="flex flex-col items-center justify-center w-full m-5  rounded-md overflow-hidden">
					  <div class="plate w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md scale-100 hover:scale-75 ease-in duration-500" style=" background-color: white; background-image: url(./images/best-kids-games-app.jpg);">
			
					  </div>
			
					  <div class="relative w-56 -mt-10 overflow-hidden bg-white rounded-lg shadow-lg md:w-64" style="background-color: #ce5a5d;">
						  <h3 class="py-2 font-bold tracking-wide text-center uppercase text-white" style="font-size: x-large;">Games</h3>
							
						  <div class="flex items-center justify-end px-3 py-2">
								<a class="btn red" href="{% url 'dictionary:games' %}">PLAY GAMES</a>
						  </div>
					  </div>
				  </div>
			
			
				  <div class="flex flex-col items-center justify-center w-full m-5  rounded-md overflow-hidden">
					<div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md"  style="background-image: url(./images/best-english-dictionary-app.jpg)"></div>
			
					<div class="w-56 -mt-10 overflow-hidden rounded-lg shadow-lg md:w-64" style="background-color: #ce5a5d;">
						<h3 class="py-2 font-bold tracking-wide text-center uppercase text-white" style="font-size: x-large;">Dictionary</h3>
						
						<div class="flex items-center justify-end px-3 py-2">
							<!-- <span class="font-bold text-gray-800 dark:text-gray-200">$129</span> -->
							<a class="btn red" href="{% url 'dictionary:search' %}">Search for words</a>
							 
							 
						</div>
					</div>
				  </div>
				</div>
				
			
			
			   
			
				<div class="card-container flex flex-col md:flex-row justify-center border-none items-center w-full  md:1/2 max-w-5xl">
				  <div class="flex flex-col items-center justify-center w-full m-5  rounded-md  overflow-hidden">
					  <div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg rotate" style="background-repeat: no-repeat; background-size: 151px;background-color: white; background-image: url(./images/question.png); object-fit: contain;"></div>
			
					  <div class="w-56 -mt-10 overflow-hidden  rounded-lg shadow-lg md:w-64" style="background-color: #ce5a5d;">
						  <h3 class="py-2 font-bold tracking-wide text-center uppercase text-white" style="font-size: x-large;">Quiz</h3>
						  
						  <div class="flex items-center justify-end px-3 py-2">
<a class="btn red" href="{% url 'books:subject_quiz' 'quiz' %}">Test Learning</a>
						  </div>
					  </div>
				  </div>
			
			
				  <div class="flex flex-col items-center justify-center w-full m-5  rounded-md overflow-hidden">
					<div class="w-full h-64 bg-gray-300 bg-center bg-cover rounded-lg shadow-md" style="background-color: white; background-image: url(./images/images.jpg)"></div>
			
					<div class="w-56 -mt-10 overflow-hidden  rounded-lg shadow-lg" style="background-color: #ce5a5d;">
						<h3 class="py-2 font-bold tracking-wide text-center uppercase dark:text-white text-white" style="font-size: x-large;">Books</h3>
						
						<div class="flex items-center justify-end px-3 py-2">
							<!-- <span class="font-bold text-gray-800 dark:text-gray-200">$129</span> -->
 <a href="{% url 'books:subjects' %}" class="btn red">Read</a>
						</div>
					</div>
				  </div>
				</div>
				
			
			
			
				</div>
			  </div>
			</div>
			  <!-- Services ends... -->


			<section id="main">
				<div class="widget-boxes">
					<div class="box">
						<a href="#">
							<div class="box-info about">
								<h2>About Learncha</h2>
								<p>Learnchar is an educational Gamifying platform designed for kids that can help you instill a love of learning in your own child. This applies whether they're learning through homeschooling, online learning, offline or traditional classroom setting.</p>
							</div>
						</a>
					</div>
					<div class="box">
						<a href="#">
							<div class="box-info experience">
								<h2>Our experience</h2>
								<p>Help your child discover their passion for math with our engaging, online and offline Gamifying platform</p>
							</div>
						</a>
					</div>
					<div class="box">
						<a href="#">
							<div class="box-info fun">
								<h2>Big fun for kids!</h2>
								<p>Designed by learning experts, your child can practice math, reading, phonics, and more.
								</p>
							</div>
						</a>
					</div>
				</div>
					<div class="widget-boxes news">
						<h2>Latest news</h2>
						<div class="box">
							<a class="news-img" href="#">
								<img src="{% static 'images/img-news01.jpg' %}" alt="" />
								<div class="mask"></div>
							</a>
							<div class="box-info">
								<h3><a href="#">This is Exciting</a></h3>
								<div class="metadata">
									<time datetime="2014-04-17">17.04.14</time>
									<span>Prince Achoja</span>
								</div>
								<p>Introducing our STEM learning center in KANO Nigeria. Designed by learning experts, your child can now practice math, reading, phonics, and more. Step-by-Step Learning Path designed to help kids learn math, reading, science, and more</p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="{% static 'images/img-news02.jpg' %}" alt="" />
								<div class="mask"></div>
							</a>
							<div class="box-info">
								<h3><a href="#">We Have Lego</a></h3>
								<div class="metadata">
									<time datetime="2014-04-16">16.04.14</time>
									<span>Muhammad Abubakar</span>
								</div>
								<p>Join our Lego Robotics EV3 classes every Saturday. Find the right instructor for you. Choose from many topics, skill levels, and languages. </p>
							</div>
						</div>
						<div class="box">
							<a class="news-img" href="#">
								<img src="{% static 'images/img-news03.jpg' %}" alt="" />
								<div class="mask"></div>
							</a>
							<div class="box-info">
								<h3><a href="#">Kano On the Go!</a></h3>
								<div class="metadata">
									<time datetime="2014-04-13">13.04.14</time>
									<span>Salma Gambo</span>
								</div>
								<p>We have partnered with the Kano state Library board to introduce a platform where you can create a new picture storybook, translate a story, adapt a story for a different reading level and build your own storybook collection.
								</p>
							</div>
						</div>
					</div>
			</section>
		</div>
		<div class="top-blue-border"></div>
		<footer id="footer">
			<div class="footer-holder">
				<div class="footer-frame">
					<div class="footer-content">
						<div class="col-holder">
							<div class="col_wrap">
								<div class="col">
									<h3>Our address</h3>
									<address class="map">60 Ahmadu Bello Way, Nassarawa GRA Kano State Nigeria.

									</address>
									<address class="mail"><a href="mailto:Admin@stemlab.com.ng">Admin@stemlab.com.ng</a></address>
									<address class="phone">+2348162224407
									</address>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Follow us</h3>
									<p class="social">Accusamus iusto odio dignissimos ducimus qui blanditiis praesentium</p>
									<ul class="social">
										<li><a class="facebook" href="#">Facebook</a></li>
										<li><a class="google" href="#">Google+</a></li>
										<li><a class="twitter" href="#">Twitter</a></li>
										<li><a class="pinterest" href="#">Pinterest</a></li>
									</ul>
								</div>
							</div>
							<div class="col_wrap">
								<div class="col">
									<h3>Newsletter</h3>
									<p class="form-newsletter">Voluptas sit aspernatur consequuntur.</p>
									<form action="#" class="form-newsletter">
										<fieldset>
											<input type="email" placeholder="Your email..." />
											<input class="btn white" type="submit" value="Subscribe" />
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="holder">
							<p>Copyright 2022 Learncha. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>	
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.placeholder.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
	    
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="js/tailwind.js"></script>
	<script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/custom.js"></script>
	<script>
	  tailwind.config = {
		theme: {
		  extend: {
			fontFamily: {
			  sans: ['Inter', 'sans-serif'],
			},
		  }
		}
	  }
	</script>
</body>
</html>